mini-dubbo-rmi/src/main/resources/META-INF/mini-dubbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.xcxyz-mini-dubbo.com/schema/mini-dubbo"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.xcxyz-mini-dubbo.com/schema/mini-dubbo"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <!-- 服务引用约束schema-->
    <xsd:element name="service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interface" type="xsd:string" use="required"/>
                    <xsd:attribute name="timeout" type="xsd:int" use="required"/>
                    <xsd:attribute name="serverPort" type="xsd:int" use="required"/>
                    <xsd:attribute name="ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="weight" type="xsd:int" use="optional"/>
                    <xsd:attribute name="workerThreads" type="xsd:int" use="optional"/>
                    <xsd:attribute name="appKey" type="xsd:string" use="required"/>
                    <xsd:attribute name="groupName" type="xsd:string" use="optional"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- 消费引用约束schema-->
    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interface" type="xsd:string"/>
                    <xsd:attribute name="timeout" type="xsd:int" use="required"/>
                    <xsd:attribute name="clusterStrategy" type="xsd:string" use="optional"/>
                    <xsd:attribute name="remoteAppKey" type="xsd:string" use="required"/>
                    <xsd:attribute name="groupName" type="xsd:string" use="optional"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>